@model NewsRealm.Models.NewsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NewsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.MainText)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.MainText)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Authors)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Authors)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DatePublish)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DatePublish)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TimePublish)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TimePublish)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedAt)
</dt>
<dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CreatedAt)
</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
